<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write a Blog Post</title>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="/style-edit.css" rel='stylesheet'>
</head>

<body>

    <h1>Write a Blog Post</h1>

    <form action="/blog_post/submit" method="POST">
        <label for="postTitle">Title:</label>
        <input type="text" id="postTitle" name="postTitle" required>

        <!-- Category Section -->
        <label for="category">Category:</label>
        <select id="category" name="category">
            <option value="technology">Technology</option>
            <option value="travel">Travel</option>
            <option value="food">Food</option>
            <option value="sports">Sports</option>
            <option value="science">Science</option>
            <!-- Add more categories as needed -->
        </select>

        <!-- Create a container for the Quill editor -->
        <div id="editor"></div>
        <input type="hidden" id="content" name="content">

        <button type="submit">Submit</button>
        <% if (typeof message !=='undefined' ) { %>
            <h4 class="alert alert-danger mt-4">
                <%= message %>
            </h4>
            <% } %>
    </form>


    <!-- Include Quill.js JavaScript -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <script>
        // Initialize Quill
        var quill = new Quill('#editor', {
            theme: 'snow' // 'snow' is just one of the available themes
        });

        // Optional: Add an event listener to log the editor content when the form is submitted
        document.querySelector('form').addEventListener('submit', function (event) {
            event.preventDefault();
            var content = quill.root.innerHTML;
            console.log('Blog Content:', content);

            // Set the editor content as a hidden input value before submitting the form
            document.querySelector('#content').value = content;

            // Now, proceed with form submission
            this.submit();
        });
    </script>

</body>

</html>