body {
    background-color:antiquewhite;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

nav ul{
    list-style: none;
    display: flex;    
}

nav ul li{
    padding: .5em;
    font-size: 1.1em;
}

nav ul li a{
    text-decoration: none;
    color: azure;
}
.left{
    font-size: 2em;
    color: azure;
    font-weight: bold;
}
main{
    padding: 2em;
    background-color:gold;
    border-bottom: 3px solid black;
    height: 25em;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.banner{
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
    
}

.caption{
    font-size: 2em;
}

main div button{
    padding: 1em;
    font-size: 1em;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2em;
    text-align: center;
}

.carousel section object{
    width: 100%;
    height: 45em;

}

.bottom{
    display: flex;
}
